.weather {
  background-color: rgba(0, 0, 0, 0.178);
  grid-column: 1/4;
  grid-row: 1/2;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  justify-content: space-between;
  
}

.graduces {
  width: 80%;
  font-size: 5rem;
  font-weight: 1000;
}

.graducesIcon {
  color: red;
  width: 30%;
  height: 90px;
  width: 90px;
}

.graducesWithIcon {
  display: flex;
  justify-content: space-between;
}